@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

h1 {
    height: 100px;
}

*{

font-family: "PT Sans", sans-serif;
}
.Background{
    

background-image: url('backjeny.jpg');

background-size: "cover";
height: 50%;
weight: 30%;
margin-top: -70px;
font-size:50px;
background-repeat:no-repeat;
}